<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="end end">
        <button mat-button (click)="close()">
            <span>&times;</span>
        </button>
    </div>
    <div fxLayout="column" fxLayoutAlign="start center">
        <h3 mat-dialog-title>{{photoData.title}}</h3>
    </div>
    <div fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="center center">
            <img [src]="photoData.url">
        </div>
    </div>
    <mat-form-field class="full-width" fxFill fxLayout="column" fxLayoutAlign="center start">
        <input matInput class="app-input" placeholder="Leave a comment" [(ngModel)]="comment">
    </mat-form-field>
</div>
<div fxLayout="column" fxLayoutAlign="end end">
    <button mat-button (click)="saveAndClose()">
        <span>
            Save
        </span>
    </button>
</div>