<mat-dialog-content>
    <div fxLayout="row" fxLayoutAlign="end end">
        <button mat-button (click)="close()">
            <span>&times;</span>
        </button>
    </div>
    <div class="fullImage" fxLayout="row">
        <div fxLayout="column" fxLayoutAlign="start center">
            <h3 mat-dialog-title>{{photoData.title}}</h3>
        </div>
        <div fxLayout="column" fxLayoutAlign="start center">
            <img [src]="photoData.url">
        </div>
    </div>
    <mat-form-field fxFill fxLayout="column" fxLayoutAlign="start start">
            <textarea matInput matTextareaAutosize matAutosizeMinRows="2"
            matAutosizeMaxRows="5" [(ngModel)]="comment"></textarea>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions fxLayout="column" fxLayoutAlign="start start">
    <button mat-button (click)="storeCommentInSessionStorage()">
        <span>
            Comment
        </span>
    </button>
</mat-dialog-actions>